.App {
  padding-left: 20px;
  padding-top: 30px;
}
.blackbar{
  background-color: black;
  width: 100%;
  color: darkorange;
  padding: 5px;
  display: flex;
}

/* 이미지 읽기용*/
.img_bg{
  width: 200px;
  height: 200px;
  background-image: url('./cloud.png');
}