<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="jikwonapp">
        <button @click="showFunc">직원자료 읽기(Ajax)</button>
        <table v-if="jikdatas.length > 0"> <!--조건부렌더링-->
            <tr>
                <th>사번</th><th>이름</th><th>부서명</th><th>직급</th>
            </tr>
            <tr v-for="(jikwon, index) in jikdatas" :key="index">
                <td>{{jikwon.jikwon_no}}</td>
                <td>{{jikwon.jikwon_name}}</td>
                <td>{{jikwon.buser_name}}</td>
                <td>{{jikwon.jikwon_jik}}</td>
            </tr>
        </table>
    </div>
    <script>
        const {createApp} = Vue;

        createApp({
            data(){
                return{
                    jikdatas:[]
                };
            },
            methods: {
                showFunc(){
                    fetch('http://localhost:8080/wpro2/JikwonInfo.jsp')
                    .then(response => { 
                        if(response.ok){
                            return response.json();
                        }
                        throw new Error('ajax 에러');
                    })
                    .then(data => {
                        this.jikdatas = data.jikwonInfo;
                    })
                    .catch(error => {
                        console.log('자료 읽기 오류: ', error);
                    })
                }
            }
        }).mount('#jikwonapp');
    </script>
</body>
</html>