<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <!--부트스트랩 css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
조건부 렌더링을 위한 v-if 연습
<hr>
<div id="app">
    <p v-if="season">여름이 좋아요</p>
    <p v-else>겨울이 맘에 듭니다</p>
    <button @click="season = !season" class="btn btn-success">결과바꾸기</button> 
    <!--토글: 1번누르면 기능, 2번누르면 해제-->

    <!-- 조건, 반복 렌더링을 할 때 유용한 특수html tag-->
    <template v-if= "season">
        <p>옷 입기가 편해</p>
        <p>벌레가 많아요</p>
    </template>
    <template v-else>
        <p>시원한 바람~</p>
        <p>멋진 패션 구사</p>
        <p>눈 구경하기</p>
    </template>
    <br/>
    <span v-show="season">
        <p>야 여름이다~ </p>
    </span>
    <!-- v-if, v-show의 차이-->
    <p v-if="season">여름 만세 - false인경우 코드가 제거</p>
    <p v-show="season">여름 만세 - false인경우 display:none</p>
    <hr>
    <lable><input type="checkbox" v-model="myVisiable"/>체크박스표시</lable>
    <p v-if="myVisiable">Check on</p>
    <p v-else>Check off</p>

    <!-- count 값에 따른 조건부 렌더링-->
     <p v-if="count === 10">{{count}}번 클릭! 버튼 비활성화</p>
     <p v-else-if="count >= 1">현재 클릭 횟수: {{count}}</p>
     <p v-else>버튼을 클릭하세요</p>
     <button v-bind:disabled="count === 10" @click="addFunc">숫자 늘림</button>
</div>
<script>
    const {createApp} = Vue;
    
    createApp({
        data(){
            return{
                season: true, // true(여름), false(겨울)
                myVisiable: false, //checkbox 상태 초기화
                count: 0
            }
        },
        methods: {
            addFunc(){
                this.count++;
            }
        }
    }).mount('#app');
</script>
</body>
</html>