<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
<!-- 첫번째 인스턴스 -->
    <div id="app">
{{key}} {{key2}}
<br/>
<b>{{ message }}</b><br/>
<input type="text" v-model="message">
<div v-html="htmlString"></div>
<div>{{htmlString}}</div>
<br>
<!-- 이벤트 리스너를 이용해 메소드호출-->
<button @click="myFunc">클릭</button>
<button @click="myChange1">변경1</button>
<button @click="myChange2">변경2</button>
<br/><br/>
<!--두 수 더하기-->
<input type="text" size="5" v-model.number="su1"> +
<input type="text" size="5" v-model.number="su2"> =
<span>{{ su1+su2 }}</span>
<br/>
<img v-bind:src="daumlogo" style="width: 100px; height:auto;"/>
    </div>
     <br/><br/>

<!-- 두번째 인스턴스
SyntaxError: Identifier 'createApp' has already been declared 
해결방법: IIFE로 vue instance를 감싸주면, 식별자 충돌문제 해결가.-->
    <div id="app2">
        <select>
            <option v-bind:value="buser.bunho" v-for="(buser, index) in busers" :key="index">
                {{buser.irum}} {{buser.junhwa}}
            </option>
        </select>
<br/><br/>
<table border="1">
    <thead>
        <tr><th>부서번호</th><th>부서명</th><th>전화</th></tr>
    </thead>
    <tbody>
        <tr v-for="(buser, index) in busers" :key="index">
            <td>{{buser.bunho}}</td><td>{{buser.irum}}</td><td>{{buser.junhwa}}</td>
        </tr>
    </tbody>
</table>
<br/>
<span v-bind:style="cssStyleTest">컨텐츠 스타일 바인딩</span>
<button @click="cssStyleTest.fontSize='30px'">글자 크기 확대</button>
    </div>
    <hr/>
<!--세번째 인스턴스-->
<div id="app3event">
    <h2>성적 관리</h2>
이름: <input type="text" v-model="name"><br/>
자바: <input type="text" v-model.number="java"><br/>
리액트: <input type="text" v-model.number="react"><br/>
뷰: <input type="text" v-model.number="vue"><br/>
<button @click="onClick">확인</button>
<br/>
<span>
    <h2>입력결과</h2>
    <ul>
        <!-- <div v-if="count >=1"> 이 부분이 있어야 하는이유?-->
        <li v-for="(score, index) in student" :key="index">
            {{score.name}} : {{score.java}}, {{score.react}}, {{score.vue}}. 총점: {{score.sum}}점
        </li>
    </ul>
</span>
<span>
    <h2>전체통계</h2>
    <p>인원수: {{count}}명</p>
    <p>전체 총점: {{totalSum}}점</p>
</span>
</div>
<!-- 각 뷰 인스턴스를 js 파일로 작성후 연결 -->
 <script src="ex8js1.js"></script>
 <script src="ex8js2.js"></script>
 <script src="ex8js3.js"></script>
</body>
</html>